doctype 5
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/dhtmlx.css")
		link(rel="stylesheet", href="/stylesheets/app.css")

		script(src="/javascripts/dhtmlx.js")
		script(src="/javascripts/app.js")

		body
